#Berners {
    border-radius:150px ;
    margin-top: 38px;
}
 section {
     text-align: center;

 }

 #iniciar {
     background: linear-gradient(#60ebeb 0%, #27ae60 100%)
 }

 .menu {
     list-style:none;
     position:absolute;
     top:10px;
     float:left;
 }

    .links {
        float: left;
        font-size:20px;
        padding:5px;
        font-family: fantasy;

    }

    center {

    }